# 77-loadstar-sensors.rules is generated automatically from .single-source-of-truth.org
# File edits may be overwritten!
# UDEV Rules for Loadstar Sensors, https://www.loadstarsensors.com/
#
# The latest version of this file may be found at:
#   https://github.com/janelia-pypi/loadstar_sensors_interface_python
#
# This file must be placed at:
#
# /etc/udev/rules.d/77-loadstar-sensors.rules
#
# To install, type this command in a terminal:
#   sudo cp 77-loadstar-sensors.rules /etc/udev/rules.d/
#
# After this file is installed, physically unplug and reconnect device.
#
# Original FT232/FT245 VID:PID
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{ID_MM_PORT_IGNORE}="1"
